{% extends "base.html.twig" %}
{% block body %}

    {% if category %}
        <h1>Articles de le catégorie : {{ category.name }}</h1>
        <p>{{ articles | length }} articles retrouvés</p>
    {% else %}
        <h1>Tous nos articles</h1>
    {% endif %}


    <div class="row">
        {% for article in articles %}
        <div class="col">
            {{
                include('single_article/single_article.html.twig', {article: article})
            }}
        </div>
        {% endfor %}
    </div>
    

{% endblock %}